.mg-line1-color {
  stroke: @brand-primary;
}
.mg-area1-color {
  fill: @brand-primary;
}

.mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text {
  opacity: 1;
  font-family: @font-family-sans-serif;
  color: @text-color;
}

.mg-x-axis line, .mg-y-axis line {
  stroke: @text-color;
}
