#search {
  margin: @line-height-computed * 1.5 0 @line-height-computed 0;
  min-height: 0;
  .form-group {
    margin-bottom: 0;
  }
  .help-block{
    margin-bottom: 0;
    &:empty {
      display: none;
    }
  }
}
